<ng-container *ngIf="$any(breadcrumbService.breadcrumbs$ | async) as breadcrumbs">
    <div class="py-5" style="margin-top:105px; background-color:azure" 
    *ngIf="breadcrumbs[breadcrumbs.length-1].label !== 'Home'">
        <div class="container">
            <div class="row d-flex align-items-center">
    
                     <div class="col-12">
                         <h1>{{breadcrumbs[breadcrumbs.length-1].label | titlecase | uppercase }}</h1>
    
                         <xng-breadcrumb>
                             <ng-container *ngxBreadcrumbItem="let breadcrumb">
                                      {{breadcrumb | titlecase}}
                             </ng-container>
                         </xng-breadcrumb>
    
                    </div>
            </div>
        </div>
    </div>
</ng-container>
